body {
    background-color: #4a2023;
    height: 45rem;
    background-image: url('placeholderMonster.png'), linear-gradient(black, transparent);
    background-repeat: no-repeat;
    background-position: center;
}

#monster_hp {
    position: absolute;
    top: 2rem;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 8%;
    justify-content: space-evenly;
    background-color: rgba(181,78,86,0.4)
}

p {
    margin: 0.5rem;
    color: white;
}

#player_hp {
    position: absolute;
    bottom: 6rem;
    right: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 8%;
    justify-content: space-evenly;
    background-color: rgba(181,78,86,0.4)
}

#turn_options {
    width: 80%;
    background-color: rgba(181,78,86,0.4);
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    position: absolute;
    bottom: 1rem;
    padding: 1rem;
}

button {
    font-size: 2rem;
}