body {
    background-color: cornflowerblue;
    padding: 0;
    margin: 0;
}

span {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: white;
    font-size: 2rem;
}

span:hover {
    cursor: pointer;
    background-color: rgb(1 1 1 / 10%);
}

header {
    display: flex;
    margin: auto;
    justify-content: center;
}

h2 {
    color: white;
    font-size: 2.5rem;
}

section {
    width: 90%;
    height: 70%;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

ul {
    list-style-type: none;
}

li {
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
}