body {
    background-color: #010719;
    padding: 0;
    margin: 0;
    display: flex;
    height: 45rem;
}

#actions {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 100%;
    font-size: 1.5rem;
}

#map {
    width: 65%;
    height: 100%;
    margin: 0;
    background-color: gray;
    display: flex;
    justify-content: center;
}

#stats_log {
    width: 25%;
    color: white;
}

h3 {
    justify-content: center;
    display: flex;
    margin: 1rem;
    border: 0.05rem solid white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#quit {
    position: absolute;
    top: 0;
    right: 0;
    width: 2%;
    font-size: 1rem;
}

#stats {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    padding-left: 2rem;
    border: 0.05rem solid white;
}

ul {
    list-style-type: none;
}

#game_text {
    height: 65%;
    margin: 1rem;
    padding: 1rem;
    border: 0.05rem solid white;
}

#item_list {
    width: 20%;
    height: 20%;
    background-color: black;
    top: 25%;
    left: 10%;
    margin: 0;
}

#item_list ul {
    padding-left: 0;
}

li {
    color: white;
}

li:hover {
    cursor: pointer;
}

#main_gameX {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
}

span:hover {
    cursor: pointer;
}

#battle {
    width: 100%;
    background-color: #4a2023;
    height: 100%;
    background-image: url('html_visual_assets/Head.png'), url('html_visual_assets/Torso.png'), url('html_visual_assets/Tail.png'), url('html_visual_assets/BG.png');
    background-repeat: no-repeat;
    background-position: 47% -8%, center, 45% 100%, center;
    background-size: 20%, 35%, 40%, 100%;
    animation: mymove 3s infinite;
}

@keyframes mymove {
    70% {background-position: 47% -10%, center 45%, 44% 100%, center;}
}

#monster_hp {
    position: absolute;
    border-radius: 0.5rem;
    top: 2rem;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    justify-content: space-evenly;
    background-color: rgb(1, 7, 25, 40%);
    border: 0.05rem solid rgba(255, 255, 255, 0.40);
}

#battle p {
    margin: 0.5rem;
    color: white;
    font-size: 1.5rem;
}

#player_hp {
    position: absolute;
    border-radius: 0.5rem;
    bottom: 6rem;
    right: 9%;
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    justify-content: space-evenly;
    background-color: rgb(1, 7, 25, 40%);
    border: 0.05rem solid rgba(255, 255, 255, 0.40);
}

#turn_options {
    width: 80%;
    background-color: rgb(1, 7, 25, 40%);
    display: flex;
    justify-content: space-evenly;
    margin-left: 8%;
    border-radius: 1rem;
    position: absolute;
    bottom: 1rem;
    padding: 1rem;
    border: 0.05rem solid white;

}

#battle button {
    font-size: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#item_list_battle {
    position: absolute;
    background-color: black;
    top: 42%;
    left: 32%;
    margin: 0;
    height: 40%;
    width: 18%;
    z-index: 3000;
}

#item_list_battle ul {
    padding-left: 0;
}

#in_battleX {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
}

#quit_battle {
    position: absolute;
    top: 0;
    right: 0;
    width: 3%;
    font-size: 0.5rem;
}

#event_modal {
    padding: 20px;
    width: 350px;
    border-radius: 8px;
}

#close_event_modal {
    float: right;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

#event_description {
    margin-bottom: 15px;
}

#event_answer_input {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
}

#event_buttons button {
    padding: 8px 15px;
    cursor: pointer;
}