body {
    background-color: #010719;
    padding: 0;
    margin: 0;
    display: flex;
    height: 45rem;
}

#actions {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 100%;
    font-size: 1.5rem;


}

#map {
    width: 65%;
    margin: 0;
    background-color: gray;
    display: flex;
    justify-content: center;
}

#stats_log {
    width: 25%;
    color: white;

}

h3 {
    justify-content: center;
    display: flex;
}

#stats {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

#game_text {
    margin: 1rem;
    padding: 2rem;
}

#item_list {
    background-color: black;
    top: 25%;
    left: 10%;
    margin: 0;

}

span {
   position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

span:hover{
    cursor: pointer;
}
